@font-face {
  font-family: 'Hellix';
  src: url('Hellix-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hellix';
  src: url('Hellix-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    font-family: Hellix;
  }
  
  html, body {
    min-width: 100%;
    min-height: 100vh;
    background: linear-gradient(7.28deg, #EEF5FF 0%, #FFFFFF 99.69%);
  }
  
  h1, h2, h3, h4, h6, p, a {
    color: #111235;  
  }
  
  h1, h2, h3, h6, ul, #copyright {
    font-weight: 500;  
  }
  
  h1 {
    font-size: 64px;
    line-height: 75px;
  }
  
  h2 {
    font-size: 48px;
    line-height: 57.61px;
  }
  
  h3 {
    font-size: 36px;  
  }
  
  h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
  }
  
  h5 {
    font-weight: 600;
    font-size: 18px;
  }
  
  h6 {
    font-size: 18px;
    line-height: 24px;
  }
  
  p {
    font-weight: normal;
    line-height: 24px;
  }
  
  a {
    text-decoration: none;  
  }
  
  ul {
    list-style-type: none;  
  }
  
  .bold-text {
    font-weight: bold;  
  }
  
  .align-center-mobile {
    text-align: center;
  }
  
  .light-blue-bg {
    background-color: #F2F8FF;
  }
  
  .blue-lilac-bg {
    background-color: #E4F0FF;
    border-radius: 30px;
  }
  
  .lilac-bg {
    background: rgba(114, 122, 239, 0.1);
    border-radius: 30px;
  }
  
  .btn {
    display: block;
    width: 252px;
    margin: auto;
    padding: 18px 0 19px;
    text-align: center;
    border: none;
    border-radius: 35px;
    background-color: white;
    color: #436BAA;
    font-weight: 600;
    font-size: 18px;
  }
  
  .purple-btn {
    background-color: #4B5092;
    color: white;
  }
  
  .page-image {
    width: 414px;
    display: block;
    margin: auto;
  }
  
  .content-container {
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
  }
  
  .mini-content-container {
    width: 100%;
    padding: 50px 54px 50px 40px;
    box-sizing: border-box;
  }
  
  .border-line {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }
  
  #landing-page {
    max-width: 500px;
    margin: auto;
    padding-bottom: 103px;
  }
  
  #header-menu {
    display: none;
  }
  
  #header {
    margin-bottom: 40px;
    padding: 16px;
    text-align: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  }
  
  #page-1, #page-2, #page-3 {
    margin-bottom: 120px;  
  }
  
  #page-1 > .content-container {
    margin-top: 40px;
  }
  
  #page-1 h1 {
    margin-bottom: 20px;
  }
  
  #page-1 .btn {
    margin-top: 30px; 
  }
  
  #page-2 > .content-container {
    margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  #page-2 h2 {
    margin-bottom: 20px;
  }
  
  #page-3 {
    background: linear-gradient(99.85deg, #BAD5FF 0%, #6487BF 100%);
  }
  
  #page-3 > .content-container {
    padding-top: 80px;
    margin-bottom: 62px;
  }
  
  #page-3 h6 {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  
  #page-3 .btn {
    margin-top: 30px;
  }
  
  #page-4 {
    margin-bottom: 86px;  
  }
  
  #page-4 > .content-container {
    margin-top: 50px;
    margin-bottom: 40px;
  }
  
  #page-4 h2 {
    margin-bottom: 40px;
  }
  
  #page-4 .mini-content-container {
    margin-bottom: 20px;
  }
  
  #page-4 .mini-content-container > h4 {
    margin-bottom: 20px;
  }
  
  #footer > .content-container {
    margin-top: 50px;
  }
  
  #footer ul {
    margin: 50px 0;
  }
  
  #footer ul > li {
    margin: 35px 0;
  }
  
  #email-section h5 {
    margin-bottom: 16px;
  }
  
  #email-section form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #email-section input[type = "email"] {
    width: 255px;
    height: 40px;
    padding: 8px 45px 8px 12px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    font-feature-settings: 'liga' off;
  }
  
  #email-section input[type = "email"]::placeholder {
    color: #111235;  
  }
  
  #email-section input[type = "email"]:focus {
    outline: none;
  }
  
  #email-section input[type = "submit"] {
    width: 16.5px;
    height: 16.5px;
    margin-left: -30px;
    background: url('https://assets.codepen.io/6060109/icon-send.png') no-repeat center;
    border: none;
  }
  
  #email-section input[type = "submit"]:hover {
    cursor: pointer;
  }
  
  #footer-icons {
    width: 176px;
    height: 32px;
    margin: 24px auto 60px;
    display: flex;
    justify-content: space-between;
  }
  
  #footer .icon-circle {
    width: 32px;
    height: 32px;
    background-color: rgba(128, 173, 245, 0.1);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #footer .icon-circle:hover {
    cursor: pointer;
  }
  
  #copyright {
    font-size: 14px;  
  }
  
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {  
    h1 {
      font-size: 72px;
    }
    
    .align-center-mobile {
      text-align: unset;  
    }
    
    .light-blue-bg {
      border-radius: 50px;
    }
    
    .page-image {
      margin: 0;
    }
    
    .content-container {
      padding: 0;
    }
    
    .btn {
      width: 230px;
    }
    
    .purple-btn {
      width: 200px;
    }
    
    #footer-icons {
      display: none;
    }
    
    #landing-page {
      max-width: 1440px;
      padding: 27px 0 94px 135px;
    }
    
    #header, #page-1, #page-2, #page-3 {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    #header {
      margin-right: 150px;
      padding: 0;
      text-align: left;
      box-shadow: none;
    }
    
    #header-menu {
      display: flex;
      align-items: center;
    }
    
    #header-menu > li {
      margin-left: 45px;
    }
    
    #search-icon {
      width: 24px;
      height: 24px;
      margin-left: 14px;
      background: url('https://assets.codepen.io/6060109/icon-search.png') no-repeat center;
      border: none;
    }
    
    #search-icon:hover {
      cursor: pointer;
    }
    
    #page-1, #page-3 {
      flex-direction: row-reverse;
    }
    
    #page-1 {
      margin-right: 64px;
    }
    
    #page-1 > .content-container {
      width: 50%;
    }
    
    #page-1 > .content-container > p {
      padding-right: 154px;  
    }
    
    #page-1 .page-image {
      width: 50%;  
    }
    
    #page-1 .btn {
      margin-left: 0;
    }
    
    #page-2 {
      margin-right: 107px;
    }
    
    #page-2 .page-image {
      width: 50%;
    }
    
    #page-2 > .content-container {
      width: 45%;
      margin-top: 0;
      padding: 70px 55px 70px 45px;
    }
    
    #page-3 {
      margin-left: -135px;
      padding-left: 135px;
    }
    
    #page-3 .page-image {
      width: 50%;
    }
    
    #page-3 > .content-container {
      width: 45%;
      margin-bottom: 0;
      margin-right: 107px;
      padding: 0 55px 0 45px;
    }
    
    #page-3 .btn {
      margin-top: 40px;
      margin-left: 0;
    }
    
    #page-4 {
      margin-right: 83px;
      margin-bottom: 120px;
      display: grid;
      grid-template-rows: 1fr 8fr;
      grid-template-columns: 1fr 0.4fr;
      grid-template-areas:
        "content button"
        "content image";
    }
  
    #page-4 > .content-container {
      max-width: 750px;
      margin-top: 0;
      margin-bottom: 0;
      grid-area: content;
      display: grid;
      gap: 30px 12px;
      grid-template-rows: 0.25fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "header header"
        "square-1 square-2"
        "square-3 square-4";
    }
    
    #page-4 .mini-content-container {
      margin-bottom: 0;   
    }
    
    #page-4 .btn {
      grid-area: button;
    }
    
    #page-4-image {
      grid-area: image;
      display: flex;
      align-items: center;
    }
    
    #page-4 h2 {
      grid-area: header;  
    }
    
    #square-1 {
      grid-area: square-1;
    }
    
    #square-2 {
      grid-area: square-2;
    }
    
    #square-3 {
      grid-area: square-3;
    }
    
    #square-4 {
      grid-area: square-4;
    }
    
    #footer {
      margin-right: 80px;
    }
    
    #footer > .content-container {
      margin-top: 60px;
      display: flex;
      justify-content: space-between;
    }
    
    #footer ul {
      height: 120px;
      margin: 5px 0 0 0;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      gap: 0px 100px;
    }
  
    #footer ul > li {
      margin: 10px 0;
    }
    
    #email-section {
      width: 25%;
    }
    
    #email-section h5 {
      margin-top: 5px;
    }
    
    #email-section form {
      justify-content: start;
    }
  }
  